[submodule "themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey.git
[submodule "themes/hugo-theme-cactus-plus"]
	path = themes/hugo-theme-cactus-plus
	url = https://github.com/nodejh/hugo-theme-cactus-plus.git
[submodule "public"]
	path = public
	url = git@github.com:peterklipfel/peterklipfel.github.io.git
	branch = master
